<!doctype html>
<html lang="en" class="h-100">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" 
    type="image/png"
    href="/media/favicon.png">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <style>
        .form-register {
            width: 100%;
            max-width: 900px;
            padding: 15px;
            margin: auto;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Docable</a>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="form-register">

        <div class="p-5">

            <div class="row mb-5">

                <div class="card w-50">
                    <div class="card-header text-center">
                      Your Account Features
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Basic</h5>
                        <ul class="card-text">
                            <li>Publish Notebooks</li>
                            <li>Unlimited Storage</li>
                            <li>Digitial Ocean Hosting</li>
                            <li>Custom Domain Name</li>
                            <li>Customer Support</li>                                                                                                                
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-success">Get More Features</a>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="card  w-100">
                    <div class="card-header text-center">
                        Update Your Settings
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Settings</h5>
                      <form class="" id="accountForm" action="/account" method="POST" class="row">
        
                        <div class="form-group">
                          <label for="emailaddress">Email address</label>
                          <input type="email" class="form-control" name="emailaddress" aria-describedby="emailHelp" placeholder="your@email.com" value="<%- user.email %>">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" value="<%- user.name %>" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" value="" placeholder="Password">
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                              <input type="checkbox" name="subscribe" id="subscribe"> Send me important emails about Docable.
                            </label>
                        </div>
        
                        <div class="text-center">
                           <button type="submit" class="btn btn-secondary">Update</button>
                        </div>                
                    </form>
                    </div>
                  </div>
            </div>


            <p>Please review our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
        </div>
        
    </main>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
