<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" 
        type="image/png"
        href="/media/favicon.png">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.36.1/dist/skin-awesome/ui.fancytree.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.6.0/skin-awesome/ui.fancytree.css"> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="/js/workspaceApi.js"></script>
    <script src="/js/vendor/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.36.1/dist/modules/jquery.fancytree.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.36.1/dist/modules/jquery.fancytree.glyph.js"></script> -->
    <!-- With selector fix patch: https://github.com/mar10/fancytree/issues/1032-->
    <script src="js/vendor/PATCH-jquery.fancytree.glyph.js"></script>

    <style>
        .markdown-body ul.fancytree-container {
          border: none;
          font-size: inherit;
          font-family: inherit;
        }

        .markdown-body ul.fancytree-treefocus {
            outline: none;
        }

        .markdown-body ul.fancytree-container .fa-folder {
            color: #28a745;
            /* margin-left: 5px; */
            display: none;
        }

        .markdown-body ul.fancytree-container .fa-folder-open {
            color: #28a745;
            /* margin-left: 5px; */
            display: none;
        }

        .markdown-body ul.fancytree-container .fa-book-open {
            color: #C0C0C0;
            /* margin-left: 5px; */
        }

        .fancytree-plain span.fancytree-active span.fancytree-title,
        .fancytree-plain.fancytree-treefocus.fancytree-container span.fancytree-active pan.fancytree-title{
            background-color: #e3e3e3;
        }

        .markdown-body .fancytree-treefocus span.fancytree-active span.fancytree-title {
            color: inherit;
        }

        .markdown-body span.fancytree-focused span.fancytree-title {
            outline: none;
        }

        /* override github markdown rule for li + li*/
        .breadcrumb-item + .breadcrumb-item {
            margin-top: 0;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: "|";
        }

        /* Better align icon in middle */
        .tree-actions #btn-vscode svg {
            margin-top: -3px;
        }

        .tree-actions #btn-vscode:hover svg .icon-path {
            fill: white;
        }


    </style>

</head>

<body class="d-flex flex-column">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Docable</a>

            <% if (user) { %>
            <ul class="nav nav-fill ml-auto">
                <li class="nav-item p-1 mr-2">
                    <a href="/account"> <img src="<%- user.gravatar %>" width=32 height=32> </a>
                </li>
            </ul>
            <% } else { %>
            <ul class="nav nav-fill ml-auto">
                <li class="nav-item"><button class="btn btn-outline-light mr-2" onclick="window.location.href='/login'">Login</button></li>
                <li class="nav-item"><button class="btn btn-success mr-2" onclick="window.location.href='/register'">Register</button></li>
            </ul>
            <% } %>

            <%- include('templates/docable_menu'); -%>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="markdown-body">

        <nav aria-label="breadcrumb" style="padding-top: 25px;">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/targets">Environments</a></li>
              <li class="breadcrumb-item"><a href="/variables">Variables</a></li>
            </ol>
        </nav>

        <!-- <div><a href="/targets">Environments</a><span class="content-separator">|</span><a href="/variables">Variables</a></div> -->

        <div>
            <form method="POST" action="/notebook_dir">
            <button id="btnPickFolder" type="submit" class="btn btn-outline-dark py-0" title="Pick Folder">
                Pick Folder <i class="far fa-folder-open"></i>
            </button>
            </form>
        </div>

        <h2>📓 Your Notebooks</h2>

        <div class="tree-actions">
            <% if (!locals.isHosted) { %>
            <button id="btn-openFolder" type="button" data-toggle="tooltip" data-placement="right" class="btn btn-outline-dark py-0" title="Open Folder in System">
                <i class="far fa-folder-open"></i>
            </button>
            <button id="btn-vscode" type="button" data-toggle="tooltip" data-placement="right" class="btn btn-outline-dark py-0" title="Open in Visual Code">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 300 300">
                    <path class="icon-canvas-transparent" d="m21.356 278.24v19.119h-19.119v-19.119z" opacity="0" stroke-width=".79661"/>
                    <path class="icon-path" d="m218.62 29.953-105.41 96.92-58.909-44.403l-24.346 14.17 58.068 53.359-58.068 53.359 24.346 14.212 58.909-44.402 105.41 96.878 51.424-24.976v-190.14zm0 63.744v112.6l-74.719-56.302z" fill="#000" stroke-width="17.15"/>
                </svg>                
            </button>
            <% } %>
        </div>

        <div id="tree"></div>
        <script>

            let sortFn = (a, b) => {
                var x = (a.isFolder() ? "0" : "1") + a.title.toLowerCase(),
                    y = (b.isFolder() ? "0" : "1") + b.title.toLowerCase();
                return x === y ? 0 : x > y ? 1 : -1;
            };

            function _svg(className, addClass) {
                var id = className.replace(/ /g, "-"),
                    cn = addClass ? " " + addClass : "",
                    html = '<svg class="svg-inline--fa fa-w-20' + cn + '"><use xlink:href="#' + id + '"></use></svg>';
                return { html:  html };
            }

            $(document).ready(function()
            {
                $('[data-toggle="tooltip"]').tooltip()

                $("#tree").fancytree({
                    source: <%- JSON.stringify(notebook_tree) %>,
                    checkbox: false,
                    selectMode: 1,
                    extensions: [ "glyph"],
                    glyph: {
                        // The preset defines defaults for all supported icon types.
                        // It also defines a common class name that is prepended (in this case 'fa ')
                        preset: "awesome5",
                        map: {
                            // Override distinct default icons here
                            folder: "fas fa-folder",
                            folderOpen: "fas fa-folder-open",
                            expanderClosed: "fas fa-chevron-right",
                            expanderOpen: "fas fa-chevron-down",
                            doc: _svg("svg-markdown")
                        }
                    },
                    keydown: function(event, data) {
                        const ENTER_KEY = 13;
                        if( event.which === ENTER_KEY ) {
                            console.log( data.node.data );
                            if( data.node.data.href )
                            {
                                window.location = data.node.data.href;                                
                                return false;
                            }
                        }
                    }
        
                });
                
                var root = $.ui.fancytree.getTree("#tree").getRootNode();
                root.sortChildren(sortFn, true);
                
                // root.visit(function(node){
                //     if(node.getLevel() < 1) {
                //         node.setExpanded(true);
                //     }
                // });

                <% if (!locals.isHosted) { %>

                // $('#btnPickFolder').submit(function(e)
                // {
                //     e.preventDefault();

                //     return fetch(`/notebook_dir`, {
                //         method: 'POST',
                //         mode: 'cors',
                //         body: JSON.stringify({}),
                //         headers: { "content-type": "application/json; charset=UTF-8" },
                //     })
                //     .then(response => response.text())
                //     .then(data => {
                //     })
                //     .catch(err => {
                //     });
                // });

                $('#btn-openFolder').click(function()
                {
                    var tree = $.ui.fancytree.getTree("#tree");
                    let node = tree.getActiveNode();
                    let dir="";
                    if( node )
                    {
                        dir = node.key;
                    }
                    openDir(dir);
                    
                });

                $('#btn-vscode').click(function()
                {
                    var tree = $.ui.fancytree.getTree("#tree");
                    let node = tree.getActiveNode();
                    let dir="";
                    if( node )
                    {
                        dir = node.key;
                    }
                    openEditor(dir);
                    
                });
                <% } %>

            });

        </script>

    </main>

    <%- include('templates/footer_analytics'); -%>

    <svg style="display: none;"> 
        <symbol id="svg-markdown">
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path fill="#777" fill-rule="evenodd" clip-rule="evenodd" d="M10.57 1.14L13.85 4.44L14 4.8V14.5L13.5 15H2.5L2 14.5V1.5L2.5 1H10.22L10.57 1.14ZM10 5H13L10 2V5ZM3 2V14H13V6H9.5L9 5.5V2H3ZM5.062 9.533L6.879 7.705L6.17 7L4 9.179V9.886L6.171 12.06L6.878 11.353L5.062 9.533ZM8.8 7.714L9.5 7.005L11.689 9.18V9.889L9.5 12.062L8.795 11.353L10.626 9.533L8.8 7.714Z" />
        </symbol>            
    </svg>

</body>

</html>
