<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"><a href="https://github.com/ottomatica/">Ottomatica.io</a></span>
    </div>
</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112375708-2', {
        cookie_flags: 'max-age=7200;samesite=lax'
    });
</script>