<footer class="footer mt-auto py-1 position-fixed" style="user-select: none; bottom: 0;">
    <div class="mx-auto">
        <span class="text-muted"><a class="text-muted" href="https://github.com/ottomatica/">ottomatica.io</a></span>
        <span class="mt-5 mb-3 text-muted">
            ©
            <span id="year"></span>
        </span>
    </div>

    <div class="position-absolute mr-2 d-sm-none d-md-block" style="color: #cfcfcf; top: 15%; right: 0;">
        <small class="d-flex flex-row">
            <%= locals.DocableNotebookVersion && DocableNotebookVersion %>
            <% if(locals.processUptime) { %>
                , uptime = <%= processUptime %>m
            <% } %>
        </small>
    </div>
</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112375708-2', {
        cookie_flags: 'max-age=7200;samesite=lax'
    });

    document.getElementById('year').innerText = new Date().getFullYear();
</script>