<% if(variables.length > 0 || missingVariables.length > 0 || sessionVariables.length > 0) { %>

<div class="card border-0">
    <div class="card-body">
        <h6 class="card-title"><em>This notebook uses variables that need to be filled in</em>:</h6>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

        <table class="table table-sm  table-bordered" id="variablesTable" style="text-align: center;">
            <tbody>

                <% variables.forEach(v => { %>
                <tr>
                    <td>
                        <%= v.slug %>
                    </td>
                    <td>
                        <%= v.isSecret ? '****' : v.value %>
                    </td>
                </tr>
                <% }); %>

                <% [...missingVariables, ...sessionVariables].forEach(v => { %>
                <tr class="missingVariables">
                    <td>
                        <input name="slug" type="text" class="form-control" value="<%= v.slug %>" disabled>
                    </td>
                    <td>
                        <input name="value" type="text" class="form-control" <%= v.value ? `value=${v.value}` : 'placeholder="???"' %>>
                    </td>
                </tr>
                <% }); %>

            </tbody>
        </table>
        <!-- <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#variablesTable" role="button" aria-expanded="false" aria-controls="#variablesTable">Button</a>           -->
    </div>
</div>

<script>

</script>

<% } %>
